.five-day-forecast {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    gap: 25px;
    height: 100%;
    color: white;
}

.forecast-day {
    background-color: #20283a;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: calc(15% - 15px);
    position: relative;
    display: flex;
}