.main-card {
    width: 100%;
    height: 100%;
    background-color: #20283a;
    border-radius: 15px;
    color: white;
}

.main-card-container {
    height: calc(100% - 20px);
    padding: 10px;
}

.top-row {
    display: flex;
    position: relative;
    height: 40%;
}

.current-temp {
    font-size: 116px;
    height: 55%;
    position: relative;
    top: 30%;
    left: 10px;
    transform: translateY(-50%);
}

.city-time {
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10%;
}

.time {
    font-size: 18px;
    text-align: right;
}

/* Second Row */

.second-row {
    display: flex;
    height: 20%;
    position: relative;
    top: 20px;
}

.weather-type {
    display: flex;
    align-items: center;
    width: 150px;
}

.weather-description {
    margin-left: 15px;
    font-size: 18px;
    margin-top: 0px;
}

.wind-speed-icon img {
    width: 40px;
    height: 40px;
}

.wind-speed {
    display: flex;
    align-items: center;
    width: 130px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

.wind-speed-value {
    margin-left: 15px;
    margin-top: -8px;
}