.nav-container {
    position: relative;
    height: 45px;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 11px;
    color: white;
    font-size: 20px;
}

.search-bar {
    width: 300px;
    position: absolute;
    left: 30px;
}

.search-bar input {
    background-color: #20283a;
    border: none;
    padding: 15px 0;
    width: 200px;
    border-radius: 20px;
    padding-left: 50px;
    outline: none;
    color: white;
    font-size: 14px;
}

/* Placeholder color */
input::placeholder {
    color: white;
    opacity: 1;
    /* Full visibility */
    transition: opacity 0.2s ease-in-out;
}

/* Hide placeholder on focus */
input:focus::placeholder {
    opacity: 0;
    /* Placeholder disappears when clicked */
}

.temp-selector {
    position: absolute;
    right: 10px;
}