.nav-container {
    position: relative;
    height: 45px;
}

.search-bar {
    width: 300px;
    position: absolute;
    left: 30px;
}

.search-bar input {
    background-color: #20283a;
    border: none;
    padding: 15px 0;
    width: 200px;
    border-radius: 20px;
    padding-left: 40px;
}

.temp-selector {
    position: absolute;
    right: 25px;
}