.other-cities-header,
.forecast-header {
    color: white;
    font-size: 24px;
    margin: 10px;
    height: 5%;
}

.other-cities-container {
    width: calc(100% - 20px);
    height: calc(95% - 20px);
    margin: 10px;
    max-width: 500px;
    color: white;
}

.city-card {
    height: calc(33.33% - 15px);
    margin-top: 10px;
    background-color: #20283a;
    border-radius: 15px;
    display: flex;
}

.city-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.city-data-container div {
    margin: 10px;
}

.city-country {
    font-size: 14px;
    margin-bottom: -5px !important;
}

.city-name {
    font-size: 24px;
    font-weight: bold;
}

.city-description {
    font-size: 14px;
    margin-top: 0px !important;
}

/* Temp-container */

.temp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.city-temp {
    font-size: 32px;
    font-weight: 600;
    margin-top: 10px;
}