html {
  overflow-x: hidden;
}

.App {
  background-image: url('./Assets/earth.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  background-color: #060816;
  font-family: 'Outfit';
}

nav {
  width: 100vw;
  padding: 20px 0;
  position: relative;
}

.upper {
  border: 1px solid white;
  height: 36%;
  display: flex;
}

.upper-left,
.upper-right {
  height: calc(100% - 20px);
  margin: 10px;
}

.upper-left {
  width: calc(30% - 20px);
  margin: 10px;
}

.upper-right {
  border: 1px solid white;
  width: calc(70% - 20px);
}

.lower {
  border: 1px solid white;
  height: 55%;
}