html {
  overflow-x: hidden;
}

.App {
  background-image: url('./Assets/earth.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  background-color: #060816;
  font-family: 'Outfit';
}

nav {
  width: 100vw;
  padding: 20px 0;
  position: relative;
}

.upper {
  height: 30%;
  display: flex;
}

.upper-left,
.upper-right {
  height: calc(100% - 20px);
  margin: 10px;
}

.upper-left {
  width: calc(25% - 20px);
  margin: 10px;
}

.upper-right {
  width: calc(75% - 30px);

}

.lower {
  border: 1px solid white;
  height: 53%;
  max-height: 600px;
  position: relative;
  top: 25px;
  display: flex;
}

.lower-left,
.lower-right {
  height: 100%;
}

.lower-left {
  width: calc(25% - 20px);
  margin: 10px;
}

.lower-right {
  width: calc(75% - 30px);
  margin: 10px;
}