html {
  overflow-x: hidden;
  background-image: url('./Assets/earth.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  background-color: #060816;
  font-family: 'Outfit';
}

.App {
  height: 100vh;
  overflow: hidden;
}

nav {
  width: 100vw;
  padding: 20px 0;
  position: relative;
}

.upper {
  height: 30%;
  display: flex;
}

.upper-left,
.upper-right {
  height: calc(100% - 20px);
  margin: 10px;
}

.upper-left {
  width: calc(25% - 20px);
  margin: 10px;
  padding-left: 20px;
}

.upper-right {
  width: calc(75% - 30px);

}

.lower {
  height: 53%;
  max-height: 600px;
  position: relative;
  top: 25px;
  display: flex;
  padding-left: 20px;
}

.lower-left,
.lower-right {
  height: 100%;
}

.lower-left {
  width: calc(25% - 20px);
  margin: 10px;
}

.lower-right {
  width: calc(75% - 30px);
  margin: 10px;
}

@media screen and (min-width: 2150px),
screen and (min-height: 1150px) {
  .App {
    width: 1700px;
    height: 1300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1450px) {
  .App {
    overflow: scroll;
  }

  .hourly-forecast {
    width: 65px !important;
  }

}